/* styles.css */

.container {
    display: flex; /* Align items horizontally */
   height: 100vh;
    
}

.left-div, .right-div {
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 10px; /* Padding inside each div */
}

.left-div {
    flex: 4; /* Take 3 parts of the flex container's space */
    background-color: #f1f1f1; /* Light gray background */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    margin-right: 10px; /* Small space between left and right divs */
}

.right-div {
    flex: 2; /* Take 1 part of the flex container's space */
    background-color: #d1e7dd; /* Light green background */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
    gap: 10px; /* Space between cards */
}

.card {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: 100%; /* Make each card take full width of its container */
    max-width: 300px; /* Maximum width for each card */
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add shadow for better visibility */
}

.cart-container {
    background-color: white; /* White background for the table container */
    height: 300px;
    padding: 5px;
    border-radius: 0.5rem; /* Optional rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    margin-top: 0;
    overflow-y: auto;
}
.cart-container1 {
    background-color: white; /* White background for the table container */
    height: 200px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 0.5rem; /* Optional rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

.card-img {
    width: 100%;
    height: 150px; /* Adjust height as needed */
    object-fit: cover; /* Maintain aspect ratio */
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 0.5rem;
}

.quantity-spinner {
    width: 60px;
    margin-right: 10px;
}

/* styles.css */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.full-width-button {
    width: calc(100% - 2rem); /* Full width minus padding */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
}

.btn-success {
    background-color: #28a745; /* Ensure the button color is as desired */
    border-color: #28a745; /* Border color to match the background */
    font-size: 1rem; /* Adjust icon size */
}


.table {
    margin-top: 20px;
    width: 100%;
}

.table-dark {
    background-color: #343a40;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-bordered {
    border: 1px solid #dee
}

