<div class="container">
    <div class="left-div">
        <div class="card-container">
            <div class="card" *ngFor="let product of products">
                <img src="data:image/jpeg;base64,{{product.base64Image}}" class="card-img" alt="{{product.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.dosage}}</p>
                    <p class="card-text"><strong>${{product.price}}</strong></p>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success full-width-button">
                            <i class="fas fa-cart-plus"> </i>
                            Add to cart
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="right-div">
        <h4><i class="fas fa-shopping-cart"></i> Cart</h4>
        <div class="cart-container">
            <table class="table table-responsive table-striped border-dark">
                <thead class="table-dark">
                    <tr>
                        <th>Products</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>

        <div class="cart-container1">

            <h5>Total</h5>
        </div>

    </div>
    
</div>
